<div class="row-fluid">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h4 class="panel-title text-center"><%= t(:institution_list) %></h4>
      </div>
      <!-- Table -->
      <%= render :partial => 'institutions_grid' %>
      <%= render_grid(@institutions_grid) %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-4">
    <%= link_to t(:new_institution), new_institution_path, class: "btn btn-danger" %>
    <%= link_to '导出', institutions_path(format: :xlsx), class: "btn btn-default" %>
  </div>
</div>
