<tr>
  <td><%= attach.id %></td>
  <td><%= attach.category %></td>
  <td><%= best_in_place attach, :title %></td>
  <td><%= link_to '读取', attach.attach.url, target: "_blank" %></td>
  <td><%= link_to t('destroy'), [attach.attachable, attach], method: :delete, data: {confirm: '是否确认?'} %></td>
</tr>
