<div class="row-fluid">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
         <h4 class="panel-title text-center">选择角色-<%= @admin.name %></h4>
      </div>
      <%= form_for(@admin) do |f| %>
        <div class="panel-body">
            <% for role in Admin::ROLES %>
              <%= check_box_tag "admin[roles][#{role}]", role, @admin.roles.include?(role), {:name => "admin[roles][]"}%>
              <%= label_tag "admin_roles_#{role}", role.to_s.humanize %><br />
            <% end %>
        </div>
        <div class="panel-footer text-center">
            <%= submit_tag("确认", class: "btn btn-danger") %>
            <%= link_to t(:back), :back, class: "btn btn-default" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
