<div class="row-fluid">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
         <h4 class="panel-title text-center">新增</h4>
      </div>
      <%= simple_form_for(@individual, html: { class: 'form-horizontal' },
          wrapper: :horizontal_form,
          wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean}) do |f| %>
      <div class="panel-body">
          <%= f.input :user_id, collection: User.all %>
          <%= f.input :name %>
          <%= f.input :cell %>
          <%= f.input :remark_name %>
          <%= f.input :id_type, collection: Individual::ID_TYPES %>
          <%= f.input :id_no %>
          <%= f.input :id_front %>
          <%= f.input :id_back %>
          <%= f.input :remark %>
          <%= f.input :state, collection: User::STATES %>
      </div>
      <div class="panel-footer text-center">
        <!-- <p class="text-center"> -->
            <%= f.button :submit, class: "btn btn-danger" %>
            <%= link_to t(:back), :back, class: "btn btn-default" %>
        <!-- </p> -->
      </div>
      <% end %>
    </div>
  </div>
</div>
