<tr>
  <% Individual.column_names.each do |column| %>
    <% if column == "user_id" %>
      <td><%= individual.user.name %></td>
    <% elsif column == "id_front" || column == "id_back" %>
      <td><%= image_tag(individual.send(column).thumb) %></td>
    <% else %>
      <td><%= individual.send(column) %></td>
    <% end %>
  <% end %>
  <td><%= link_to 'edit', edit_individual_path(individual) %></td>
  <td><%= link_to 'destroy', individual, method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>