<tr>
  <% Individual::HEADERS.each do |column| %>
    <% if column == "user_id" %>
      <td><%= individual.user.name %></td>
    <% elsif column == "id_front" || column == "id_back" %>
      <td><%= link_to image_tag(individual.send(column).thumb), individual.send(column).url %></td>
    <% else %>
      <td><%= individual.send(column) %></td>
    <% end %>
  <% end %>
  <td><%= link_to t(:confirm), confirm_individual_path(individual) %></td>
  <td><%= link_to t(:deny), deny_individual_path(individual) %></td>
  <td><%= link_to t(:edit), edit_individual_path(individual) %></td>
  <td><%= link_to t(:destroy), individual, method: :delete, data: {confirm: t(:are_you_sure)} %></td>
</tr>
<%= render partial: 'shared/audit',  locals: {item: individual} %>