<div class="col-md-6">
  <%= simple_form_for(@user, html: { class: 'form-horizontal' }, 
      wrapper: :horizontal_form,
      wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean}) do |f| %>
    <%= f.input :open_id %>
    <%= f.input :cell %>
    <%= f.input :name %>
    <%= f.input :email, as: :email %>
    <%= f.input :id_type, collection: User::ID_TYPES %>
    <%= f.input :nickname %>
    <%= f.input :gender, collection: User::GENDER_TYPES %>
    <%= f.input :address %>
    <%= f.input :card_type, collection: Individual::ID_TYPES %>
    <%= f.input :card_no %>
    <%= f.input :card_front %>
    <%= f.input :card_back %>
    <%= f.input :remark %>
    <%= f.input :number unless @user.new_record? %>
    <%= f.button :submit %>
  <% end %>
</div>
<div class="col-md-12">
  <%= link_to t(:back), :back %>
</div>