<div class="row-fluid">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
         <h4 class="panel-title text-center"><%= User.model_name.human %></h4>
      </div>
      <%= simple_form_for(@user, html: { class: 'form-horizontal' },
          wrapper: :horizontal_form,
          wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean}) do |f| %>
      <div class="panel-body">
          <%= f.input :open_id %>
          <%= f.input :cell %>
          <%= f.input :name %>
          <%= f.input :email, as: :email %>
          <%= f.input :id_type, collection: User::ID_TYPES %>
          <%= f.input :nickname %>
          <%= f.input :gender, collection: User::GENDER_TYPES %>
          <%= f.input :address %>
          <%= f.input :card_type, collection: Individual::ID_TYPES %>
          <%= f.input :card_no %>
          <%= link_to image_tag(@user.card_front.thumb), @user.card_front.url, class: "col-sm-offset-3 col-sm-9" if @user.card_front? %>
          <%= f.input :card_front %>
          <%= link_to image_tag(@user.card_back.thumb), @user.card_back.url, class: "col-sm-offset-3 col-sm-9" if @user.card_back? %>
          <%= f.input :card_back %>
          <%= f.input :remark %>
          <%= f.input :state, collection: User::STATES %>
      </div>
      <div class="panel-footer text-center">
        <!-- <p class="text-center"> -->
            <%= f.button :submit, class: "btn btn-danger" %>
            <%= link_to t(:back), :back, class: "btn btn-default" %>
        <!-- </p> -->
      </div>
      <% end %>
    </div>
  </div>
</div>
