<div class="row-fluid">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
         <h4 class="panel-title text-center"><%= Order.model_name.human %></h4>
      </div>
      <%= simple_form_for(@order) do |f| %>
      <div class="panel-body">
          <%= f.input :investable_id, collection: Individual.all.map {|e| ["个人:#{e.name}", "个人:#{e.id}"]} + Institution.all.map {|e| ["机构:#{e.name}", "机构:#{e.id}"]} + User.all.map {|e| ["理财师:#{e.name}", "理财师:#{e.id}"]} %>
          <%= f.input :product_id, collection: Product.all %>
          <%= f.input :amount %>
          <%= f.input :due_date, as: :date, html5: true %>
          <%= f.input :mail_address %>
          <%= f.input :other %>
          <%= f.input :remark %>
          <%= f.input :state, collection: Order::ORDER_STATES %>
          <%= f.input :deliver, collection: Order::DELIVER_STATES %>
      </div>
      <div class="panel-footer text-center">
        <%= f.button :submit, class: "btn btn-danger" %>
        <%= link_to t(:back), :back, class: "btn btn-default" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
