<tr>
  <td><%= order.id %></td>
  <td><%= order.investable.name %></td>
  <% if order.investable_type == "Individual" %>
    <td><%= "个人" %></td>
  <% elsif order.investable_type == "Institution" %>
    <td><%= "机构" %></td>
  <% elsif order.investable_type == "User" %>
    <td><%= "理财师" %></td>
  <% end %>
  <td><%= order.product.name %></td>
  <td><%= order.user.name %></td>
  <td><%= order.amount %></td>
  <td><%= order.due_date %></td>
  <td><%= order.mail_address %></td>
  <td><%= link_to image_tag(order.other.thumb), order.other.url %></td>
  <td><%= order.remark %></td>
  <td><%= order.state %></td>
  <td><%= order.booking_date.to_date %></td>
  <td><%= order.deliver %></td>
  <td><%= link_to t(:show), order %></td>
  <td><%= link_to t(:edit), edit_order_path(order) %></td>
  <td><%= link_to t(:destroy), order, method: :delete, data: {confirm: t(:are_you_sure)} %></td>
</tr>