<tr>
  <% Order.column_names.each do |column| %>
    <% if column == "id" %>
      <td><%= link_to order.id, order %></td>
    <% elsif column == "other" %>
      <td><%= image_tag(order.send(column).thumb) %></td>
    <% else %>
      <td><%= order.send(column) %></td>
    <% end %>
  <% end %>
  <td><%= link_to 'edit', edit_order_path(order) %></td>
  <td><%= link_to 'destroy', order, method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>