<div class="col-md-6">
  <%= simple_form_for(@fund, html: { class: 'form-horizontal' }, 
      wrapper: :horizontal_form,
      wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean}) do |f| %>
    <%= f.input :name %>
    <%= f.input :desc, as: :text %>
    <%= f.input :title1 %>
    <%= f.input :content1, as: :text %>
    <%= f.input :title2 %>
    <%= f.input :content2, as: :text %>
    <%= f.input :title3 %>
    <%= f.input :content3, as: :text %>
    <%= f.input :progress_bar, hint: "From 0 to 100" %>
    <%= f.button :submit %>
  <% end %>
</div>
<div class="col-md-12">
  <%= link_to 'Back', :back %>
</div>