<tr>
  <td><%= product.id %></td>
  <td><%= product.fund.name if product.fund %></td>
  <td><%= product.name %></td>
  <td><%= product.desc %></td>
  <td><%= product.title1 %></td>
  <td><%= product.content1 %></td>
  <td><%= product.title2 %></td>
  <td><%= product.content2 %></td>
  <td><%= product.title3 %></td>
  <td><%= product.content3 %></td>
  <td><%= product.progress_bar %></td>
  <td><%= product.label %></td>
  <td><%= link_to t(:show), product %></td>
  <td><%= link_to t(:edit), edit_product_path(product) %></td>
  <td><%= link_to t(:destroy), product, method: :delete, data: {confirm: t(:are_you_sure)} %></td>
</tr>